/* Benefit section */
.section-title.bg_underline {
  position:relative;
  padding-bottom: 35px;
}
.section-title.bg_underline .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.pt-150{
  padding-top:150px;
}
.pt-200{
  padding-top:200px;
}
.type_shipping {
  position: relative;
}
.type_shipping .alo-shipping {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.type_shipping .alo-shipping .icon {
  -webkit-transition: all 240ms linear 0ms;
  -khtml-transition: all 240ms linear 0ms;
  -moz-transition: all 240ms linear 0ms;
  -ms-transition: all 240ms linear 0ms;
  -o-transition: all 240ms linear 0ms;
  transition: all 240ms linear 0ms;
  cursor: pointer;
  font-size: 30px;
  color: var(--color-icon);
  display: flex;
}
.type_shipping .alo-shipping .icon:hover {
  animation-name: elementor-animation-wobble-vertical;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.type_shipping .alo-shipping .icon_img img {object-fit: contain;}

.type_shipping .alo-shipping:hover .icon:before ,
.type_shipping .alo-shipping:hover .icon_svg:before ,
.type_shipping .alo-shipping:hover .icon_img:before {
  border-color: var(--cl-border);
  -webkit-animation: nasa-spin 8s linear infinite;
  -moz-animation: nasa-spin 8s linear infinite;
  -o-animation: nasa-spin 8s linear infinite;
  -ms-animation: nasa-spin 8s linear infinite;
  animation: nasa-spin 8s linear infinite;
}
.type_shipping .alo-shipping .content {
  gap: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.type_shipping .alo-shipping .content h3 {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--cl-text);
  text-transform: uppercase;
}

.type_shipping .alo-shipping .content p {
  margin: 0;
  color: var(--cl-text);
}

.type_shipping .row .item {
  position: relative;
}

.type_shipping .row .item_0:before {
  display:none;
}
.type_shipping .horizontal .alo-shipping {
  flex-direction: row;
  gap: 20px;
}
.type_shipping .horizontal .alo-shipping .content {align-items: flex-start;text-align: left;}

@keyframes movebounce {
    0% {
    	transform: translateY(0);
	}
	50% {
    	transform: translateY(20px);
	}
    100% {
    	transform: translateY(0);
	}
}
@media only screen and (max-width: 1024px) {
  .type_shipping .alo-shipping {
    padding:0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .type_shipping .alo-shipping {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .type_shipping .horizontal .row .item {
    padding-bottom: 15px;
  }
  .type_shipping .horizontal .alo-shipping,
  .type_shipping .alo-shipping {
    text-align: center;
    flex-direction: column;
  }
  .type_shipping .horizontal .item:not(:first-child) {
    border: none;
  }
  .type_shipping .col-sm-6 {
    width: 50%;
  }
  .wrap-shipping {
    justify-content: center;
  }
}
@-webkit-keyframes nasa-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}
/* FF */
@-moz-keyframes nasa-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}
/* Opera */
@-o-keyframes nasa-spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes nasa-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
/*End benefit section */