.loop-product-stock {
  width: 100%;
  padding-top: 5px;
}
.loop-product-stock .product-stock {
  position: relative;
}
.loop-product-stock .status-bar {
  position: relative;
  height:var(--h-stock-bar , 10px);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8px;
  background-color: var(--bg-status);
}
.loop-product-stock .status-bar .sold-bar {
  position: absolute;
  height:var(--h-stock-bar , 10px);
  border-radius: 10px;
  background-color: var(--bg-sold);
}
.product-stock-status {
  line-height: 1;
  color: var(--cl-main);
}
.product-stock-status .sold {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product-stock-status .sold b {
  font-weight: 600;
}